name: Build and Upload Release

on:
    workflow_dispatch:
        branches: 
            - main
    release:
        types: [published]

permissions:
    contents: write

env:
    # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
    BUILD_TYPE: Release

jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
        name: Build Release
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            
            - name: Install Boost
              uses: MarkusJx/install-boost@v2.4.5
              id: install-boost
              with:
                boost_version: 1.82.0
        
            - name: Configure CMake
            # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
            # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
              run: |
                cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBoost_INCLUDE_DIR=${{steps.install-boost.outputs.BOOST_ROOT}}/include -DBoost_LIBRARY_DIRS=${{steps.install-boost.outputs.BOOST_ROOT}}/lib
              env:
                BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
        
            - name: Build
              # Build your program with the given configuration
              run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

            - name: Install DataManagement
              run: cmake --install ${{github.workspace}}/build/ --prefix "dminstall-${{ matrix.os }}"

            - name: Zip DataManagement
              run: zip -r dminstall.zip "dminstall"

            - name: Release and Upload
              run: gh release upload ${{github.event.release.tag_name}} dminstall-${{ matrix.os }}.zip
              env:
                GITHUB_TOKEN: ${{ github.TOKEN }}
              shell: bash
