name: Build and Upload Release

on:
    release:
        types: [published]

permissions:
    contents: write

env:
    # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
    BUILD_TYPE: Release

jobs:
    build:
        name: Build Release
        runs-on: ubuntu-latest
        steps:
            - name: Ubuntu Checkout
              uses: actions/checkout@v3
            
            - name: Install Boost
              uses: MarkusJx/install-boost@v2.4.4
              id: install-boost
              with:
                boost_version: 1.82.0
                platform_version: 22.04
        
            - name: Configure CMake
            # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
            # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
              run: |
                cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_DATA_TESTS=ON -DBoost_INCLUDE_DIR=${{steps.install-boost.outputs.BOOST_ROOT}}/include -DBoost_LIBRARY_DIRS=${{steps.install-boost.outputs.BOOST_ROOT}}/lib
              env:
                BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
        
            - name: Build
              # Build your program with the given configuration
              run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

            - name: Install DataManagement
              run: sudo cmake --install ${{github.workspace}}/build/

            - name: Zip DataManagement
              run: zip -r DataManagement-linux-x64.zip /usr/local/lib/DataManagement/cmake/DataManagement /usr/local/include/DataManagement /usr/local/lib/libDataManagement.so

            - name: Release and Upload
              run: gh release upload ${{github.event.release.tag_name}} DataManagement-linux-x64.zip
              env:
                GITHUB_TOKEN: ${{ github.TOKEN }}
              shell: bash